<app-home-layout>
    <div class="home-image d-flex justify-content-center align-items-center">
      <div class="text-center text-white">
        <h1>Welcome to our rental gallery!</h1>
        <a href="#model-list" class="btn btn-lg btn-primary"> View Models </a>
      </div>
    </div>
  
    <div class="my-3 model-image">
      <div class="row">
        <div class="col-md-6 mb-4 mx-2">
          <app-brands-list-menu
            [initialSelectedBrandId]="selectedBrandId"
            (selectBrand)="onSelectBrand($event)"
          ></app-brands-list-menu>
        </div>
        
      </div>

    </div>

    <app-cars-card-list></app-cars-card-list>
  </app-home-layout>
  