<!-- Icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">

  <!-- Newsletter -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 col-12">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="form5Example26" class="form-control" placeholder="Email adress"/>
              <label class="form-label" for="form5Example26"></label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-primary mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- News Letter -->






  <!-- Section: Social media -->
  <section class="d-flex justify-content-center ">
    <div>
      <a href="https://github.com/aksoyakin" class="me-4 text-reset">
        <i class="fab fa-facebook-f">
        </i>
      </a>
      <a href="https://github.com/aksoyakin" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://github.com/aksoyakin" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://www.instagram.com/akinaksoooy/" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/aksoyakin/" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/aksoyakin" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Quadriga
          </h6>
          <p>
            Experience the epitome of luxury and convenience with Quadriga.
          </p>
        </div>
        <!-- Grid column -->

       

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="http://localhost:4200/" class="text-reset">Home</a>
          </p>
          <p>
            <a href="http://localhost:4200/about" class="text-reset">About</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Models</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Kocaeli, 41420, Turkey</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
             akinaksoy&#64;outlook.com.tr
          </p>
          <p><i class="fas fa-phone me-3"></i> + 90 533 649 2084</p>
          <p><i class="fas fa-print me-3"></i> + 380 66 321 7514</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/aksoyakin">Akin Aksoy</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->